# ignore projects contents
projects/*
.config/emacs/auto-save-list/
.config/emacs/eln-cache/
.config/emacs/eshell/history
.config/emacs/eshell/lastdir
.config/emacs/projects
.config/emacs/transient/
.config/emacs/url/

