Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.autohint: true

Xterm*renderFont: true
Xterm*faceName: xft:FiraCode
Xterm*faceSize: 12
Xterm*utf8: 2
Xterm*locale: true

Xterm*loginshell: true
Xterm*saveLines: 16384

URxvt*imLocale: en_US.UTF-8
URxvt.font: xft:FiraCode:size=12
URxvt.scrollBar: false
!URxvt.transparent: true
URxvt.shading: 20

!! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32

URxvt*background: #0D0C0C
URxvt*foreground: #4A4A4A
URxvt*cursorColor: #D0021B
URxvt.internalBorder: 40

! black
*.color0:   #1D1B1B
*.color8:   #1D1B1B

! red
*.color1:   #949494
*.color9:   #D0021B

! green
*.color2:   #6F6F6F
*.color10:  #6F6F6F

! yellow
*.color3:   #949494
*.color11:  #D0021B

! blue
*.color4:   #D0021B ! file colors
*.color12:  #D0021B

! magenta
*.color5:   #6F6F6F
*.color13:  #D0021B

! cyan
*.color6:   #D0021B
*.color14:  #4A4A4A

! white
*.color7:   #949494 
*.color15:  #4A4A4A

