configuration {
  modi: "run,window";
}

* {
  primary-color: #000000;
  secondary-color: #ffffff;
  background-color: #000000;
  text-color: #ffffff;
}

window {
    background-color: @primary-color;
    border-color: @secondary-color;
    padding: 0;
}

mainbox {
  border: 0;
  padding: 2px;
}

message {
  padding: 1px;
}

textbox {
  text-color: @primary-color;
}

listview {
  fixed-height: 0;
  border-color: @primary-color;
  spacing: 4px;
  scrollbar: true;
  padding: 4px;
}

element {
  border: 0;
  padding: 1px;
}

element.normal.normal {
  background-color: @primary-color;
  text-color: @secondary-color;
}

element.normal.urgent {
  background-color: @secondary-color;
  text-color: @primary-color;
}

element.normal.active {
  background-color: @secondary-color;
  text-color: @primary-color;
}

element.selected.normal {
  background-color: @secondary-color;
  text-color: @primary-color;
}

element.selected.urgent {
  background-color: @secondary-color;
  text-color: @primary-color;
}

element.selected.active {
  background-color: @secondary-color;
  text-color: @primary-color;
}

element.alternate.normal {
  background-color: @primary-color;
  text-color: @secondary-color;
}

element.alternate.urgent {
  background-color: @secondary-color;
  text-color: @primary-color;
}

element alternate.active {
  background-color: @secondary-color;
  text-color: @primary-color;
}

mode-switcher {
  border: 2px solid 0px 0px ;
  border-color: @secondary-color;
}

scrollbar {
  width:        0;
  border:       0;
  handle-color: @secondary-color;
  handle-width: 0;
  padding:      0;
}

sidebar {
  border: 2px solid 0px 0px;
  border-color: @secondary-color;
}

button {
    spacing: 0;
    background-color: @secondary-color;
    text-color: @primary-color;
    padding: 5px;
    horizontal-align: 0.5;
}

button.selected {
  background-color: @secondary-color;
  text-color: @primary-color;
}

inputbar {
  spacing: 10;
  padding: 1px;
  text-color: @secondary-color;
  children: [ prompt,entry ];
}

prompt {
  spacing: 0;
  text-color: @secondary-color;
}

entry {
  spacing: 0;
  text-color: @secondary-color;
}

element-text {
  background-color: inherit;
  text-color: inherit;
}
